@use '../../styles/global.scss' as*;
@use '../../styles/fonts' as*;

.story{
    margin: 1rem 0.3rem;
    &__info{
        margin: 0.2rem 0;
    }
    &__title{
        font-weight: 700;
    }
    &__genre{
        text-decoration: underline;
    }
}