@use '../../styles/global' as *;

.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formCard{
    background-color: aliceblue;
    border-radius: 5px;
    border: 1px solid;
    padding: 1rem;
    height: 250px;
    width: 300px;
}