@use '../../styles/global.scss' as*;
@use '../../styles/fonts' as*;

.story{
    margin: 0.5rem 0.3rem;
    &__info{
        margin: 0.2rem 0;
    }
    &__title{
        font-weight: 700;
    }
    // &__genre{

    // }
    // &__date{

    // }
    // &__author{

    // }
    // &__body{}
}