@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,400&family=Open+Sans:wght@400;700&family=PT+Sans:wght@400;700&display=swap');

body{
    font-family: 'Open Sans','Nunito','PT Sans', sans-serif;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;

}
h3{
    font-size: 1.2rem;
}
p{
    font-size: 0.8rem;
    font-weight: 400;
}